<!DOCTYPE html>
<html>
<head>
  <title>OmniauthStudy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= current_user.name %> :<%= link_to "logout", logout_path %>
<% else %>
  <%= link_to "twitterã§login", "/auth/twitter" %>
<% end %>
<p style="color:green"><%= notice %></p>
<%= yield %>

</body>
</html>
